#home {
    display: block;
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: var(--black);
    padding: 0.5rem;
}

.sidebar {
    flex: 0.25;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

.top-icons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--grey);
    border-radius: 0.5rem;
}

.link-flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    opacity: 0.7;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
}

.link-flex:hover {
    opacity: 1;
    transition: all 0.3s;
}

.link-flex img {
    height: 1.2rem;
    width: 1.2rem;
}

.link-flex p {
    /*font-size: 1rem;*/
    color: var(--white);
}

.library {
    border-radius: 0.5rem;
    flex: 3;
    overflow-y: auto;
    background-color: var(--grey);
    /*padding: 0.5rem 1.5rem; */
}


.flex-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
}

.flex-top img {
    height: 1rem;
    width: 1rem;
    opacity: 0.8;
    margin-top: 0.5rem;
}

.flex-top p {
    font-size: 0.8rem;
    opacity: 0.8;
}

.flex-top p:hover {
    opacity: 1;
    transition: all 0.3s;
}

.flex-top img:hover {
    opacity: 1;
    transition: all 0.3s;
}

.chip {
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--light-grey);
    border-radius: 5rem;
    width: fit-content;
    font-weight: normal;
    color: var(--white);
    margin-left: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .sidebar {
        flex: 0.3;
    }

    .main-content {
        flex: 0.7;
    }
}

@media (max-width: 768px) {
    .sidebar {
        flex: 0.4;
    }

    .main-content {
        flex: 0.6;
    }

    .link-flex p {
        font-size: 0.9rem;
    }

    .top-icons {
        padding: 1rem;
    }

    .library {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 480px) {
    .sidebar {
        flex: 1;
        width: 100%;
        position: relative;
        height: auto;
        overflow-y: visible;
    }

    .main-content {
        flex: 1;
        width: 100%;
        padding: 1rem 0.5rem;
    }

    .link-flex {
        justify-content: center;
    }

    .top-icons {
        padding: 0.5rem;
    }

    .library {
        padding: 0.5rem;
    }

    .chip {
        padding: 0.3rem 0.5rem;
    }

    .link-flex a, .link-flex p {
        display: none;
    }

    .link-flex .material-icons {
        font-size: 1.2rem;
    }
}


/* Container for the search bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/* Input field styles */
#searchInput {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em; /* Responsive font size */
    box-sizing: border-box;
}

/* Responsive text size */
@media (max-width: 600px) {
    #searchInput {
        font-size: 1em;
    }
}

.album-flex {
    margin-bottom: 1rem !important;
}

.albums {
    margin-top: 1rem;
}

.album-cover {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 0.2rem;
}

.col-flex p {
    margin: 0;
    font-weight: normal;
    font-size: 0.8rem;
}

.album-name {
    color: var(--white);
    margin-bottom: 0.35rem !important;
    font-size: 1rem !important;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    align-items: center;
    background-color: var(--grey);
    z-index: 1000;
    /* Other styles as needed */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.heading {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.genre-dropdown {
    position: relative;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #121212;
}

.genre-dropdown select {
    border-radius: 0.5rem;
    padding: 8px;
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-color: #121212;
    color: white;
    border: none;
    width: 100%;
}

.genre-dropdown::after {
    position: absolute;
    right: 16px;
    pointer-events: none;
    color: white;
}

.genre-dropdown select option {
    background-color: #121212;
    color: white;
}

.genre-dropdown select option:hover {
    background-color: grey;
}

.material-symbols-outlined {
    transition: transform 0.3s ease;
}

.chevron-down {
    transform: rotate(90deg);
}

/* Media Queries for Responsive Design */

@media (min-width: 992px) {
    .heading {
        font-size: 1.8rem;
    }

    .genre-dropdown select {
        font-size: 1rem;
    }

    .scroll-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .heading {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .genre-dropdown {
        max-width: 250px;
    }

    .genre-dropdown select {
        font-size: 0.9rem;
    }

    .scroll-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 1.4rem;
    }

    .genre-dropdown {
        max-width: 200px;
    }

    .genre-dropdown select {
        font-size: 0.7rem;
    }

    .scroll-container {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}


.scroll-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}

.card {
    background-color: var(--light-grey);
    padding: 0.75rem;
    border-radius: 0.5rem;
    height: fit-content;
    margin: 0.5rem 0;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 0.35rem;
}

.card-name {
    margin: 0.25rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-description {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.5;
}


.song-details {
    text-align: center;
    margin-bottom: 2rem;
}

.song-details h2 {
    font-size: 2rem;
}

.song-details h3 {
    font-size: 1.5rem;
    color: #787878;
}

.song-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

.song-info-left, .song-info-right {
    text-align: left;
}

.song-info-left p, .song-info-right p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.song-artwork {
    margin: 1rem 0;
}

.song-artwork img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.song-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
    font-size: 1.5rem;
}

.stars {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.stars .material-symbols-outlined {
    color: gray;
    font-size: 2rem;
}

.stars .material-symbols-outlined.filled {
    font-variation-settings:
            'FILL' 1,    /* Change to filled */
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    color: white;
}

.song-review .song-info-left p, .song-review .song-info-right p {
    font-size: 1rem;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,    /* Initially unfilled */
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    color: grey;
    cursor: pointer;
}

.material-symbols-outlined.selected {
    font-variation-settings:
            'FILL' 1,    /* Change to filled */
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    color: white;
}

.rating-emojis span, .frequency-emojis span, .mood-emojis span, .skip-emojis span {
    margin-right: 0.5rem;
}

.rating-emojis .emoji, .frequency-emojis .emoji, .mood-emojis .emoji, .skip-emojis .emoji {
    cursor: pointer;
}

.review-section {
    width: 100%;
    max-width: 800px;
    margin-top: 2rem;
    text-align: center;
    padding: 0 2rem;
    box-sizing: border-box;
}

.review-section input[type="text"] {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.review-section button {
    padding: 1rem 2rem;
    background-color: var(--light-grey);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.favourite-section button {
    padding: 1rem 2rem;
    background-color: var(--light-grey);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 1rem;
    border-top: 1px solid var(--light-grey);
}

.review h4 {
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
}

.review .review-rating {
    margin-right: 1rem;
}

.review p {
    margin: 0;
    font-size: 1rem;
    color: var(--white);
}

.song-review {
    display: flex; /* Enable flexbox for the song review section */
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .main-content {
        padding: 1rem; /* Reduced padding */
    }

    .song-details h2 {
        font-size: 1.6rem;
    }

    .song-details h3 {
        font-size: 1.2rem;
    }

    .song-info {
        padding: 0 1rem;
    }

    .song-info-left p, .song-info-right p {
        font-size: 0.9rem;
    }

    .song-artwork img {
        width: 90%; /* Make the image slightly smaller */
    }

    .stars .material-symbols-outlined {
        font-size: 1.5rem;
    }

    .material-symbols-outlined {
        font-size: 0.9rem; /* Smaller icons */
    }


    .rating-emojis .material-symbols-outlined,
    .frequency-emojis .material-symbols-outlined,
    .mood-emojis .material-symbols-outlined,
    .skip-emojis .material-symbols-outlined {
        font-size: 0.9em;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .review-section {
        max-width: 100%; /* Center review box on smaller screens */
        padding: 0 1rem;  /* Reduce padding to prevent overflow */
    }

    .review-section input[type="text"] {
        width: 95%; /* Allow input to shrink slightly for padding */
    }

    .review-section button {
        width: 95%; /* Allow button to shrink slightly for padding */
    }

    .song-review .song-info-left p, .song-review .song-info-right p {
        font-size: 0.9rem;
    }

    .review-section input[type="text"] {
        font-size: 0.9rem;
    }

    .review-section button {
        font-size: 0.9rem;
        padding: 0.8rem 1.5rem;
    }
    .review {
        padding: 0.8rem;
    }
    .review h4 {
        font-size: 1rem;
    }
    .review p {
        font-size: 0.9rem;
    }
}


/* Even smaller screen sizes */
@media (max-width: 480px) {
    .song-details h2 {
        font-size: 1.4rem;
    }

    .song-details h3 {
        font-size: 1rem;
    }
    .song-info-left p, .song-info-right p {
        font-size: 0.8rem;
    }
    .song-artwork img {
        width: 100%;
    }
    .stars .material-symbols-outlined {
        font-size: 1.2rem;
    }
    .material-symbols-outlined {
        font-size: 0.8rem;
    }
    .rating-emojis .material-symbols-outlined,
    .frequency-emojis .material-symbols-outlined,
    .mood-emojis .material-symbols-outlined,
    .skip-emojis .material-symbols-outlined {
        font-size: 0.7em;
    }
    .song-review .song-info-left p, .song-review .song-info-right p {
        font-size: 0.8rem;
    }

    .review-section input[type="text"] {
        font-size: 0.8rem;
    }

    .review-section button {
        font-size: 0.8rem;
        padding: 0.7rem 1.2rem; /* Further reduce padding */
    }
    .review {
        padding: 0.6rem; /* Further reduce padding */
    }
    .review h4 {
        font-size: 0.9rem;
    }
    .review p {
        font-size: 0.8rem;
    }
}



/* Review Details Page */
#review-details {
    display: flex;
    flex-direction: row; /* Align elements side-by-side */
    justify-content: space-between;
    width: 80%; /* Limit width on larger screens */
    align-items: center;
    text-align: center; /* Center text for better readability */
}

/* Song Artwork */
#review-details img {
    width: 40%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Song Title and Artist */
#review-details h1 {
    font-size: 1.8em;
    margin: 0 0 10px 0;
}
#review-details h2 {
    font-size: 1.2em;
    margin: 0 0 20px 0;
    color: #787878;
}

/* Review Date */
#review-details p#reviewDate {
    font-size: 0.9em;
    color: #aaa;
    margin-bottom: 20px;
}

/* Review Text */
#review-details p#reviewText {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 30px;
    white-space: pre-wrap;
}

/* Additional Details Container */
.additional-details-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Additional Details */
.additional-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.detail-item p {
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.material-symbols-outlined {
    font-size: 1.2em;
    margin: 2px;
}

/* Delete Button */
.delete-button {
    background-color: #c9302c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #770907;
}

/* Media Query for Smaller Screens - Updated */
@media (max-width: 768px) {
    #review-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
    }

    #review-details img {
        width: 100%;
        margin-bottom: 10px;
    }

    #review-details h1 {
        font-size: 1.6em;
    }

    #review-details h2 {
        font-size: 1em;
        margin-bottom: 10px;
    }

    #review-details p#reviewDate,
    #review-details p#reviewText {
        font-size: 0.9em;
    }


    .additional-details {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%; /* Take up full width on smaller screens */
    }

    .detail-item {
        flex: 1 0 45%; /* Each item takes 45% width and wraps if needed */
        margin: 10px 5px;
    }

    .detail-item p {
        text-align: center;
        font-size: 0.8em;
    }
}


/* Styles for Playlist Section */
.playlist-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
    transition: background-color 0.3s;
}

.playlist-card:hover {
    background-color: #333;
}

.playlist-song-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
}

.playlist-song-title {
    font-size: 0.9em;
    color: #fff;
    margin: 0;
    /* Added styles for ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
}

@media (max-width: 1480px) {

    .playlist-card {
        padding: 8px; /* Slightly reduced padding */
    }

    .playlist-song-img {
        width: 40px;  /* Smaller image size */
        height: 40px;
        margin-right: 10px; /* Reduced margin */
    }

    .playlist-song-title {
        font-size: 1em; /* Smaller title font size */
    }

    .playlist-song-artist {
        font-size: 0.9em; /* Smaller artist font size */
    }
}
@media (max-width: 768px) {

    .playlist-card {
        padding: 8px; /* Slightly reduced padding */
    }

    .playlist-song-img {
        width: 40px;  /* Smaller image size */
        height: 40px;
        margin-right: 10px; /* Reduced margin */
    }

    .playlist-song-title {
        font-size: 0.8em; /* Smaller title font size */
    }

    .playlist-song-artist {
        font-size: 0.7em; /* Smaller artist font size */
    }
}



/* Styles for Reviewed Song Section */
.reviewed-song-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reviewed-song-card:hover {
    background-color: #333;
}

.reviewed-song-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
}

.reviewed-song-title {
    font-size: 0.9em;
    color: #fff;
    margin: 0;
    /* Added styles for ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
}

@media (max-width: 1480px) {

    .reviewed-song-card {
        padding: 8px; /* Slightly reduced padding */
    }

    .reviewed-song-img {
        width: 40px;  /* Smaller image size */
        height: 40px;
        margin-right: 10px; /* Reduced margin */
    }

    .reviewed-song-title {
        font-size: 1em; /* Smaller title font size */
    }

    .reviewed-song-artist {
        font-size: 0.9em; /* Smaller artist font size */
    }
}
@media (max-width: 768px) {

    .reviewed-song-card {
        padding: 8px; /* Slightly reduced padding */
    }

    .reviewed-song-img {
        width: 40px;  /* Smaller image size */
        height: 40px;
        margin-right: 10px; /* Reduced margin */
    }

    .reviewed-song-title {
        font-size: 0.8em; /* Smaller title font size */
    }

    .reviewed-song-artist {
        font-size: 0.7em; /* Smaller artist font size */
    }
}



/* Review Details Page */
#review-details {
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    align-items: center;   /* Center horizontally on larger screens */
    padding: 20px;
    color: #fff;
    text-align: center; /* Center text for better readability */
}

/* Song Artwork */
#review-details img {
    width: 80%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Song Title and Artist */
#review-details h1 {
    font-size: 1.8em;
    margin: 0 0 10px 0;
}
#review-details h2 {
    font-size: 1.2em;
    margin: 0 0 20px 0;
    color: #787878; /* Lighter color for artist name */
}

/* Review Date */
#review-details p#reviewDate {
    font-size: 0.9em;
    color: #aaa;
    margin-bottom: 20px;
}

/* Review Text */
#review-details p#reviewText {
    font-size: 1em;
    line-height: 1.5; /* Improve readability */
    margin-bottom: 30px;
    white-space: pre-wrap; /* Preserve line breaks in the review text */
}

/* Additional Details Container */
.additional-details-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%;  /* Take full width to center content */
}

/* Additional Details */
.additional-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}


.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.detail-item p {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.material-symbols-outlined {
    font-size: 1.2em;
    margin: 2px;
}

/* Delete Button */
.delete-button {
    background-color: #c9302c; /* Red color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add some space above the button */
    font-size: 0.8em;;
}

.delete-button:hover {
    background-color: #770907; /* Darker red on hover */
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    #review-details {
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
        text-align: center;
        width: 90%; /* Take up more width on smaller screens */
    }

    #review-details img {
        width: 100%;
        margin-bottom: 10px; /* Reduce space below image */
    }

    #review-details h1 {
        font-size: 1.2em; /* Smaller title */
    }

    #review-details h2 {
        font-size: 1em; /* Smaller artist name */
        margin-bottom: 10px; /* Reduce space below artist name */
    }

    #review-details p#reviewDate,
    #review-details p#reviewText {
        font-size: 0.9em; /* Smaller font size for text */
    }

    .additional-details {
        flex-direction: column; /* Stack labels and icons vertically */
        width: 100%; /* Take up full width on smaller screens */
    }

    .detail-item p {
        text-align: center;
        font-size: 0.8em; /* Smaller labels */
    }

    .material-symbols-outlined {
        font-size: 1em;  /* Smaller icons */
    }
}