@import 'typography';
@import 'layout';


:root {
  --black: #000;
  --grey: #121212;
  --light-grey: #232323;
  --white: #fff;
}

.main-content {
  display: none;
  flex: 0.8;
  overflow-y: auto;
  background-color: var(--grey);
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  padding-bottom: 6rem;
  box-sizing: border-box;
  align-items: center;
}